<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="infosUserDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="infosUserTable" value="#{infosUserBean.lazyModel}" var="infosUser" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                paginatorPosition="bottom" widgetVar="infosUserTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_infosUser}" icon="ui-icon-plusthick" action="#{infosUserBean.prepareNewInfosUser()}"
                      resetValues="true" update=":editInfosUserDialog" oncomplete="PF('editInfosUserDialogWidget').show()"
                      rendered="#{infosUserBean.isPermitted('infosUser:create')}" style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="infosUserTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.label_image}">
              <o:graphicImage value="#{infosUser.image.content}" dataURI="true"
                  rendered="#{not empty infosUser.image.content}" width="50px"/>
          </p:column>
          
          <p:column  headerText="#{messages.field_label_infosUser_nom}" sortBy="#{infosUser.nom}" filterBy="#{infosUser.nom}">
            <f:facet name="filter">
                <p:inputText id="nomFilter"
                        onkeypress="if (event.keyCode == 13) {PF('infosUserTable').filter(); updateNomFilter(); return false; }" >
                    <p:remoteCommand name="updateNomFilter" update="infosUserTable:nomFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{infosUser.nom}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_infosUser_postNom}" sortBy="#{infosUser.postNom}" filterBy="#{infosUser.postNom}">
            <f:facet name="filter">
                <p:inputText id="postNomFilter"
                        onkeypress="if (event.keyCode == 13) {PF('infosUserTable').filter(); updatePostNomFilter(); return false; }" >
                    <p:remoteCommand name="updatePostNomFilter" update="infosUserTable:postNomFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{infosUser.postNom}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_infosUser_telephone}" sortBy="#{infosUser.telephone}" filterBy="#{infosUser.telephone}">
            <f:facet name="filter">
                <p:inputText id="telephoneFilter"
                        onkeypress="if (event.keyCode == 13) {PF('infosUserTable').filter(); updateTelephoneFilter(); return false; }" >
                    <p:remoteCommand name="updateTelephoneFilter" update="infosUserTable:telephoneFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{infosUser.telephone}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_infosUser_numIdentification}" sortBy="#{infosUser.numIdentification}" filterBy="#{infosUser.numIdentification}">
            <f:facet name="filter">
                <p:inputText id="numIdentificationFilter"
                        onkeypress="if (event.keyCode == 13) {PF('infosUserTable').filter(); updateNumIdentificationFilter(); return false; }" >
                    <p:remoteCommand name="updateNumIdentificationFilter" update="infosUserTable:numIdentificationFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{infosUser.numIdentification}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_infosUser_adresse}" sortBy="#{infosUser.adresse}" filterBy="#{infosUser.adresse}">
            <f:facet name="filter">
                <p:inputText id="adresseFilter"
                        onkeypress="if (event.keyCode == 13) {PF('infosUserTable').filter(); updateAdresseFilter(); return false; }" >
                    <p:remoteCommand name="updateAdresseFilter" update="infosUserTable:adresseFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{infosUser.adresse}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewInfosUserDialog" oncomplete="PF('viewInfosUserDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{infosUser}" target="#{infosUserBean.infosUser}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editInfosUserDialog"
                resetValues="true" rendered="#{infosUserBean.isPermitted(infosUser, 'infosUser:update')}"
                action="#{infosUserBean.onDialogOpen(infosUser)}"
                oncomplete="PF('editInfosUserDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-copy" update=":infosUserAttachmentsDialog" resetValues="true" oncomplete="PF('infosUserAttachmentsDialogWidget').show()" title="#{messages.label_attachments}">
              <f:setPropertyActionListener value="#{infosUser}" target="#{infosUserBean.infosUser}" />
            </p:commandButton>
            
            <p:commandButton icon="ui-icon-close" rendered="#{infosUserBean.isPermitted(infosUser, 'infosUser:delete')}"
                oncomplete="PF('deleteInfosUserDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{infosUser}"
                    target="#{infosUserBean.infosUser}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteInfosUserDialog" widgetVar="deleteInfosUserDialogWidget"
        rendered="#{infosUserBean.isPermitted(infosUserBean.infosUser, 'infosUser:delete')}" header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{infosUserBean.delete}" update=":infosUserDataForm :growlForm:growl" oncomplete="PF('deleteInfosUserDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteInfosUserDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editInfosUserDialog" header="#{messages.label_infosUser_caption}"
            modal="true" widgetVar="editInfosUserDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{infosUserBean.reset}"/>
        <h:form id="editInfosUserForm" >
            <p:outputPanel id="infosUserEditPanel">
                <ui:include src="/pages/infosUser/infosUserEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{infosUserBean.persist}"
                            update=":editInfosUserForm:infosUserEditPanel :infosUserDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editInfosUserDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editInfosUserDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewInfosUserDialog" header="#{messages.label_infosUser_caption}" modal="true" widgetVar="viewInfosUserDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{infosUserBean.reset}" />
        <h:form id="viewInfosUserForm">
          <ui:include src="/pages/infosUser/infosUserViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewInfosUserDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="infosUserAttachmentsDialog" header="#{messages.label_attachments}" modal="true" widgetVar="infosUserAttachmentsDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{infosUserBean.reset}" />
        <p:outputPanel id="infosUserAttachmentsPanel">
            <ui:include src="/pages/infosUser/infosUserAttachmentsInclude.xhtml" />
            <div style="text-align: center; margin:10px">
                <h:form>
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('infosUserAttachmentsDialogWidget').hide()" type="button"/>
                </h:form>
            </div>
        </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>