<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>
  <h:form>
  <p:menu>
    <p:submenu label="#{messages.menu_pages}">
      
      <p:menuitem value="#{messages.menu_citoyens}" url="/pages/citoyen/citoyen.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_infractions}" url="/pages/infraction/infraction.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_antecedentJudiciaires}" url="/pages/antecedentJudiciaire/antecedentJudiciaire.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_infosUsers}" url="/pages/infosUser/infosUser.xhtml" icon="icon-entity" ajax="false" async="false" />
      
    </p:submenu>
    
    <p:submenu label="#{messages.menu_admin}" rendered="#{p:ifGranted('Administrator')}">
      <p:menuitem value="#{messages.menu_user_management}" url="/pages/admin/user.xhtml" icon="ui-icon-person" ajax="false" async="false"/>
    </p:submenu>
    
  </p:menu>
  </h:form>
</ui:composition>
</html>