<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
      
    <p:outputPanel styleClass="ui-fluid" rendered="#{not antecedentJudiciaireBean.isPermitted(antecedentJudiciaireBean.antecedentJudiciaire, 'antecedentJudiciaire:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid rendered="#{antecedentJudiciaireBean.isPermitted(antecedentJudiciaireBean.antecedentJudiciaire, 'antecedentJudiciaire:read')}">
       
       <p:commandButton value="#{messages.dialog_antecedentJudiciaire_create_infraction}" icon="ui-icon-plusthick" title="#{messages.label_create}"
                  actionListener="#{infractionBean.prepareNewInfraction()}"
                  update=":createInfractionDialog :growlForm:growl" resetValues="true"
                  oncomplete="PF('createInfractionDialogWidget').show()" partialSubmit="true" process="@this"
                  rendered="#{antecedentJudiciaireBean.isPermitted('infraction:create') and antecedentJudiciaireBean.isPermitted(antecedentJudiciaireBean.antecedentJudiciaire, 'antecedentJudiciaire:update')}"
                  style="float:right;">
       </p:commandButton>
       
       <p:pickList id="antecedentJudiciaireInfractionsPickList" var="infraction" itemLabel="#{infraction.nom}"
                   value="#{antecedentJudiciaireBean.infractions}" itemValue="#{infraction}"
                   showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                   disabled="#{not antecedentJudiciaireBean.isPermitted(antecedentJudiciaireBean.antecedentJudiciaire, 'antecedentJudiciaire:update')}">
           <o:converter converterId="omnifaces.ListConverter" list="#{antecedentJudiciaireBean.fullInfractionsList}"/>
         <p:ajax event="transfer" listener="#{antecedentJudiciaireBean.onInfractionsPickListTransfer}" partialSubmit="true" process="@this" />
         <f:facet name="sourceCaption"><h:outputText value="#{messages.label_picklist_available}" /></f:facet>
         <f:facet name="targetCaption"><h:outputText value="#{messages.label_picklist_assigned}" /></f:facet>
       </p:pickList>
</h:panelGrid>
</html>