<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid">
        <p:wizard flowListener="#{citoyenBean.onFlowProcess}">

            <p:tab id="personal1" title="IdentitE">
                <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
                    <h:outputLabel value="#{messages.field_label_citoyen_nom}:" for="nomEditInput" />
                    <p:inputText value="#{citoyenBean.citoyen.nom}" id="nomEditInput" 
                                 label="#{messages.field_label_citoyen_nom}" />
                    <p:message for="nomEditInput" display="icon" />
                    <h:outputLabel value="#{messages.field_label_citoyen_postNom}:" for="postNomEditInput" />
                    <p:inputText value="#{citoyenBean.citoyen.postNom}" id="postNomEditInput" 
                                 label="#{messages.field_label_citoyen_postNom}" />
                    <p:message for="postNomEditInput" display="icon" />
                    <h:outputLabel value="#{messages.field_label_citoyen_prenom}:" for="prenomEditInput" />
                    <p:inputText value="#{citoyenBean.citoyen.prenom}" id="prenomEditInput" 
                                 label="#{messages.field_label_citoyen_prenom}" />
                    <p:message for="prenomEditInput" display="icon" />
                    <h:outputLabel value="#{messages.field_label_citoyen_taille}:" for="tailleEditInput" />
                    <p:inputText value="#{citoyenBean.citoyen.taille}" id="tailleEditInput" label="#{messages.field_label_citoyen_taille}" >
                        <f:convertNumber />
                    </p:inputText>
                    <p:message for="tailleEditInput" display="icon" />
                    <h:outputLabel value="#{messages.field_label_citoyen_poids}:" for="poidsEditInput" />
                    <p:inputText value="#{citoyenBean.citoyen.poids}" id="poidsEditInput" label="#{messages.field_label_citoyen_poids}" >
                        <f:convertNumber />
                    </p:inputText>
                    <p:message for="poidsEditInput" display="icon" />
                    <h:outputLabel value="#{messages.field_label_citoyen_dateNaissance}:" for="dateNaissanceEditInput" />
                    <p:calendar id="dateNaissanceEditInput" navigator="true" value="#{citoyenBean.citoyen.dateNaissance}" label="#{messages.field_label_citoyen_dateNaissance}" />
                    <p:message for="dateNaissanceEditInput" display="icon" />
                    <h:outputLabel value="#{messages.field_label_citoyen_telephone}:" for="telephoneEditInput" />
                    <p:inputText value="#{citoyenBean.citoyen.telephone}" id="telephoneEditInput" 
                                 label="#{messages.field_label_citoyen_telephone}" />
                    <p:message for="telephoneEditInput" display="icon" />
                    <h:outputLabel value="#{messages.field_label_citoyen_numIdentification}:" for="numIdentificationEditInput" />
                    <p:inputText value="#{citoyenBean.citoyen.numIdentification}" id="numIdentificationEditInput" 
                                 label="#{messages.field_label_citoyen_numIdentification}" />
                    <p:message for="numIdentificationEditInput" display="icon" />
                    <h:outputLabel value="#{messages.field_label_citoyen_adresse}:" for="adresseEditInput" />
                    <p:inputText value="#{citoyenBean.citoyen.adresse}" id="adresseEditInput" 
                                 label="#{messages.field_label_citoyen_adresse}" />
                    <p:message for="adresseEditInput" display="icon" />
                </p:panelGrid>
            </p:tab>
            <p:tab id="personal2" title="Photo">
                <p:panel id="citoyenImage" header="#{messages.label_image}" style="max-width:400px">
                    <o:graphicImage value="#{citoyenBean.uploadedImageContents}" dataURI="true"
                                    rendered="#{not empty citoyenBean.uploadedImageContents}" width="200px" />
                    <p:fileUpload mode="advanced" fileLimit="1"
                                  fileUploadListener="#{citoyenBean.handleImageUpload}" update="citoyenImage :growlForm:growl"
                                  cancelLabel="#{messages.upload_cancel}" uploadLabel="#{messages.upload_upload}" label="#{messages.upload_choose}"
                                  multiple="false" style="overflow:auto;width:380px"/>
                </p:panel>
            </p:tab>
            <p:tab id="personal3" title="Empreinte">
                <div style="text-align: center">
                    <p:graphicImage name="images/fingerprint.gif" styleClass="content" height="50%" width="60%" />

                </div>
            </p:tab>
        </p:wizard>


    </p:outputPanel>
</html>