<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="citoyenDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="citoyenTable" value="#{citoyenBean.lazyModel}" var="citoyen" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                paginatorPosition="bottom" widgetVar="citoyenTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_citoyen}" icon="ui-icon-plusthick" action="#{citoyenBean.prepareNewCitoyen()}"
                      resetValues="true" update=":editCitoyenDialog" oncomplete="PF('editCitoyenDialogWidget').show()"
                      rendered="#{citoyenBean.isPermitted('citoyen:create')}" style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="citoyenTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.label_image}">
              <o:graphicImage value="#{citoyen.image.content}" dataURI="true"
                  rendered="#{not empty citoyen.image.content}" width="50px"/>
          </p:column>
          
          <p:column  headerText="#{messages.field_label_citoyen_nom}" sortBy="#{citoyen.nom}" filterBy="#{citoyen.nom}">
            <f:facet name="filter">
                <p:inputText id="nomFilter"
                        onkeypress="if (event.keyCode == 13) {PF('citoyenTable').filter(); updateNomFilter(); return false; }" >
                    <p:remoteCommand name="updateNomFilter" update="citoyenTable:nomFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{citoyen.nom}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_citoyen_postNom}" sortBy="#{citoyen.postNom}" filterBy="#{citoyen.postNom}">
            <f:facet name="filter">
                <p:inputText id="postNomFilter"
                        onkeypress="if (event.keyCode == 13) {PF('citoyenTable').filter(); updatePostNomFilter(); return false; }" >
                    <p:remoteCommand name="updatePostNomFilter" update="citoyenTable:postNomFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{citoyen.postNom}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_citoyen_prenom}" sortBy="#{citoyen.prenom}" filterBy="#{citoyen.prenom}">
            <f:facet name="filter">
                <p:inputText id="prenomFilter"
                        onkeypress="if (event.keyCode == 13) {PF('citoyenTable').filter(); updatePrenomFilter(); return false; }" >
                    <p:remoteCommand name="updatePrenomFilter" update="citoyenTable:prenomFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{citoyen.prenom}" />
          </p:column>

          <p:column headerText="#{messages.field_label_citoyen_taille}" sortBy="#{citoyen.taille}" filterBy="#{citoyen.taille}">
            <f:facet name="filter">
                <p:inputText id="tailleFilter"
                        onkeypress="if (event.keyCode == 13) {PF('citoyenTable').filter(); updateTailleFilter(); return false; }" >
                    <f:convertNumber />
                    <p:remoteCommand name="updateTailleFilter" update="citoyenTable:tailleFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{citoyen.taille}"><f:convertNumber /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_citoyen_poids}" sortBy="#{citoyen.poids}" filterBy="#{citoyen.poids}">
            <f:facet name="filter">
                <p:inputText id="poidsFilter"
                        onkeypress="if (event.keyCode == 13) {PF('citoyenTable').filter(); updatePoidsFilter(); return false; }" >
                    <f:convertNumber />
                    <p:remoteCommand name="updatePoidsFilter" update="citoyenTable:poidsFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{citoyen.poids}"><f:convertNumber /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_citoyen_dateNaissance}" sortBy="#{citoyen.dateNaissance}" filterBy="#{citoyen.dateNaissance}">
            <f:facet name="filter">
                <p:inputText id="dateNaissanceFilter"
                        onkeyup="if (event.keyCode == 13) {PF('citoyenTable').filter(); updateDateNaissanceFilter(); return false;}" >
                    <p:remoteCommand name="updateDateNaissanceFilter" update="citoyenTable:dateNaissanceFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{citoyen.dateNaissance}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column  headerText="#{messages.field_label_citoyen_telephone}" sortBy="#{citoyen.telephone}" filterBy="#{citoyen.telephone}">
            <f:facet name="filter">
                <p:inputText id="telephoneFilter"
                        onkeypress="if (event.keyCode == 13) {PF('citoyenTable').filter(); updateTelephoneFilter(); return false; }" >
                    <p:remoteCommand name="updateTelephoneFilter" update="citoyenTable:telephoneFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{citoyen.telephone}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_citoyen_numIdentification}" sortBy="#{citoyen.numIdentification}" filterBy="#{citoyen.numIdentification}">
            <f:facet name="filter">
                <p:inputText id="numIdentificationFilter"
                        onkeypress="if (event.keyCode == 13) {PF('citoyenTable').filter(); updateNumIdentificationFilter(); return false; }" >
                    <p:remoteCommand name="updateNumIdentificationFilter" update="citoyenTable:numIdentificationFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{citoyen.numIdentification}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_citoyen_adresse}" sortBy="#{citoyen.adresse}" filterBy="#{citoyen.adresse}">
            <f:facet name="filter">
                <p:inputText id="adresseFilter"
                        onkeypress="if (event.keyCode == 13) {PF('citoyenTable').filter(); updateAdresseFilter(); return false; }" >
                    <p:remoteCommand name="updateAdresseFilter" update="citoyenTable:adresseFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{citoyen.adresse}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewCitoyenDialog" oncomplete="PF('viewCitoyenDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{citoyen}" target="#{citoyenBean.citoyen}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editCitoyenDialog"
                resetValues="true" rendered="#{citoyenBean.isPermitted(citoyen, 'citoyen:update')}"
                action="#{citoyenBean.onDialogOpen(citoyen)}"
                oncomplete="PF('editCitoyenDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-copy" update=":citoyenAttachmentsDialog" resetValues="true" oncomplete="PF('citoyenAttachmentsDialogWidget').show()" title="#{messages.label_attachments}">
              <f:setPropertyActionListener value="#{citoyen}" target="#{citoyenBean.citoyen}" />
            </p:commandButton>
            
            <p:commandButton icon="ui-icon-close" rendered="#{citoyenBean.isPermitted(citoyen, 'citoyen:delete')}"
                oncomplete="PF('deleteCitoyenDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{citoyen}"
                    target="#{citoyenBean.citoyen}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteCitoyenDialog" widgetVar="deleteCitoyenDialogWidget"
        rendered="#{citoyenBean.isPermitted(citoyenBean.citoyen, 'citoyen:delete')}" header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{citoyenBean.delete}" update=":citoyenDataForm :growlForm:growl" oncomplete="PF('deleteCitoyenDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteCitoyenDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editCitoyenDialog" header="#{messages.label_citoyen_caption}"
            modal="true" widgetVar="editCitoyenDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{citoyenBean.reset}"/>
        <h:form id="editCitoyenForm" >
            <p:outputPanel id="citoyenEditPanel">
                <ui:include src="/pages/citoyen/citoyenEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{citoyenBean.persist}"
                            update=":editCitoyenForm:citoyenEditPanel :citoyenDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editCitoyenDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editCitoyenDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewCitoyenDialog" header="#{messages.label_citoyen_caption}" modal="true" widgetVar="viewCitoyenDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{citoyenBean.reset}" />
        <h:form id="viewCitoyenForm">
          <ui:include src="/pages/citoyen/citoyenViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewCitoyenDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="citoyenAttachmentsDialog" header="#{messages.label_attachments}" modal="true" widgetVar="citoyenAttachmentsDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{citoyenBean.reset}" />
        <p:outputPanel id="citoyenAttachmentsPanel">
            <ui:include src="/pages/citoyen/citoyenAttachmentsInclude.xhtml" />
            <div style="text-align: center; margin:10px">
                <h:form>
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('citoyenAttachmentsDialogWidget').hide()" type="button"/>
                </h:form>
            </div>
        </p:outputPanel>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>