<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <o:validateEqual components="emailEditInput emailRepeatEditInput"
            showMessageFor="emailRepeatEditInput" message="#{messages.user_email_different_input}"/>

    <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">

        <h:outputLabel value="#{messages.field_label_user_username}:" for="usernameEditInput" />
        <p:inputText value="#{userBean.user.username}" id="usernameEditInput"
            label="#{messages.field_label_user_username}" disabled="#{not request.isUserInRole('Administrator')}" />
        <p:message for="usernameEditInput" display="icon" />
        
        <h:outputLabel value="#{messages.field_label_user_email}:" for="emailEditInput" />
        <p:inputText value="#{userBean.user.email}" id="emailEditInput" required="true"
            label="#{messages.field_label_user_email}" disabled="#{not request.isUserInRole('Administrator')}" />
        <p:message for="emailEditInput" display="icon" />
        
        <h:outputLabel value="#{messages.field_label_user_email_repeat}:" for="emailRepeatEditInput" 
            rendered="#{request.isUserInRole('Administrator')}" />
        <p:inputText value="#{userBean.user.email}" id="emailRepeatEditInput" required="true"
            label="#{messages.field_label_user_email_repeat}"
            rendered="#{request.isUserInRole('Administrator')}"/>
        <p:message for="emailRepeatEditInput" display="icon"
            rendered="#{request.isUserInRole('Administrator')}" />
        
        <h:outputLabel value="#{messages.field_label_user_roles}:" for="userRolesSelection"/>
        <p:selectManyCheckbox value="#{userBean.user.roles}" converter="omnifaces.GenericEnumConverter" id="userRolesSelection"
                layout="grid" columns="1">
            <f:selectItems value="#{userBean.rolesSelectItems}" />
        </p:selectManyCheckbox>
        <p:message for="userRolesSelection" display="icon" />
        
        <h:outputLabel value="#{messages.field_label_user_status}:" for="selectUserStatusInput" />
        <p:selectOneMenu value="#{userBean.user.status}" converter="omnifaces.GenericEnumConverter"  id="selectUserStatusInput" required="true">
            <f:selectItems value="#{userBean.statusSelectItems}" />
        </p:selectOneMenu>
        <p:message for="selectUserStatusInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_infosUser}:" for="infosUserSelectInput" rendered="#{not hideInfosUserSelectInput}"/>
                <h:panelGroup rendered="#{not hideInfosUserSelectInput}">
                    <p:selectOneMenu value="#{userBean.user.infosUser}"
                                    id="infosUserSelectInput">
                        <f:selectItem noSelectionOption="true" itemLabel="" />
                        <f:selectItems value="#{userBean.availableInfosUser}" 
                                    var="infosUser" 
                                    itemLabel="#{infosUser.id}"
                                    itemValue="#{infosUser}" />
                        <o:converter converterId="omnifaces.SelectItemsConverter" list="#{userBean.availableInfosUser}" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup rendered="#{not hideInfosUserSelectInput}">
                
                    <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                              action="#{infosUserBean.prepareNewInfosUser()}"
                              update=":createInfosUserFromEditDialog"
                              resetValues="true"
                              oncomplete="PF('createInfosUserFromEditDialogWidget').show()"
                              rendered="#{applicationBean.componentExists('createInfosUserFromEditDialog') and userBean.isPermitted('infosUser:create')}"
                              style="vertical-align:top;" partialSubmit="true" process="@this">
                    </p:commandButton>
                    
                    <p:message for="infosUserSelectInput" display="icon" rendered="#{not hideInfosUserSelectInput}"/>
                </h:panelGroup>
                
    </h:panelGrid>
</html>