<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
    <ui:define name="content">

        <h:form prependId="false" id="userDataForm"
            onkeypress="if (event.keyCode == 13) {return false; }">

            <p:dataTable id="userTable" value="#{userBean.lazyModel}" var="user"
                resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                lazy="true" paginatorPosition="bottom" widgetVar="userTable"
                emptyMessage="#{messages.label_no_records_found}" reflow="true">

                <f:facet name="header">
                    <p:commandButton value="#{messages.create_new_user}"
                        icon="ui-icon-plusthick" title="#{messages.label_create}"
                        action="#{userBean.prepareNewUser()}" update=":createUserDialog"
                        resetValues="true"
                        oncomplete="PF('createUserDialogWidget').show()"
                        style="float:left"
                        rendered="#{security.isPermitted('user:create')}" />
                    <p:commandButton id="toggler" type="button"
                        value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
                    <p:columnToggler datasource="userTable" trigger="toggler" />
                </f:facet>

                <p:column headerText="#{messages.field_label_user_username}"
                          sortBy="#{user.username}" filterBy="#{user.username}">
                    <f:facet name="filter">
                        <p:inputText id="usernameFilter"
                                onkeypress="if (event.keyCode == 13) {PF('userTable').filter(); updateUsernameFilter(); return false; }" >
                            <p:remoteCommand name="updateUsernameFilter" update="userTable:usernameFilter" />
                        </p:inputText>
                    </f:facet>
                    <h:outputText value="#{user.username}" />
                </p:column>

                <p:column headerText="#{messages.field_label_user_email}"
                          sortBy="#{user.email}" filterBy="#{user.email}">
                    <f:facet name="filter">
                        <p:inputText id="emailFilter"
                                onkeypress="if (event.keyCode == 13) {PF('userTable').filter(); updateEmailFilter(); return false; }" >
                            <p:remoteCommand name="updateEmailFilter" update="userTable:emailFilter" />
                        </p:inputText>
                    </f:facet>
                    <h:outputText value="#{user.email}" />
                </p:column>
                
                <p:column headerText="#{messages.field_label_user_status}"
                          sortBy="#{user.status}" filterBy="#{user.status}">
                    <f:facet name="filter">
                        <p:selectOneMenu  id="statusFilter"
                                        style="width:145px;"
                                        onchange="PF('userTable').filter(); return false;">
                            <f:selectItem noSelectionOption="true" itemLabel="" />
                            <f:selectItems value="#{userBean.statusSelectItems}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{user.status.toString()}" />
                </p:column>
                
                <p:column headerText="#{messages.field_label_user_createdAt}"
                          sortBy="#{user.createdAt}">
                    <h:outputText value="#{user.createdAt}"><f:convertDateTime /></h:outputText>
                </p:column>

                <p:column styleClass="action-column"
                    headerText="#{messages.table_actions_column}" width="115"
                    exportable="false">

                    <p:commandButton icon="ui-icon-zoomin" update=":viewUserDialog"
                        oncomplete="PF('viewUserDialogWidget').show()"
                        title="#{messages.label_view}">
                        <f:setPropertyActionListener value="#{user}"
                            target="#{userBean.user}" />
                    </p:commandButton>

                    <p:commandButton icon="ui-icon-pencil" update=":editUserDialog"
                        resetValues="true" oncomplete="PF('editUserDialogWidget').show()"
                        title="#{messages.label_edit}"
                        rendered="#{security.isPermitted('user:update')}">
                        <f:setPropertyActionListener value="#{user}"
                            target="#{userBean.user}" />
                    </p:commandButton>

                    <p:commandButton icon="ui-icon-close"
                        oncomplete="PF('deleteUserDialogWidget').show()"
                        title="#{messages.label_delete}"
                        rendered="#{security.isPermitted('user:delete')}">
                        <f:setPropertyActionListener value="#{user}"
                            target="#{userBean.user}" />
                    </p:commandButton>

                </p:column>

            </p:dataTable>

        </h:form>

        <p:confirmDialog id="deleteUserDialog"
            widgetVar="deleteUserDialogWidget"
            header="#{messages.label_confirm_deletion}" severity="alarm"
            rendered="#{security.isPermitted('user:delete')}">
            <f:facet name="message">
                <h:outputText value="#{messages.label_delete_record}" escape="false" />
            </f:facet>
            <p:outputPanel>
                <h:form>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton value="#{messages.label_yes}"
                            action="#{userBean.delete}"
                            update=":userDataForm :growlForm:growl"
                            oncomplete="PF('deleteUserDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_no}"
                            onclick="PF('deleteUserDialogWidget').hide()" type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="viewUserDialog"
            header="#{messages.label_user_caption}" modal="true"
            widgetVar="viewUserDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{userBean.reset}" />
            <h:form id="viewUserForm">
                <ui:include src="/pages/admin/userViewInclude.xhtml" />
                <div style="text-align: center; margin: 10px">
                    <p:commandButton value="#{messages.label_close}"
                        icon="ui-icon-close" onclick="PF('viewUserDialogWidget').hide()"
                        type="button" />
                </div>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="createUserDialog"
            header="#{messages.dialog_header_create_user}" modal="true"
            widgetVar="createUserDialogWidget" maximizable="true"
            rendered="#{security.isPermitted('user:create')}">
            <p:ajax event="close" listener="#{userBean.reset}" />
            <p:outputPanel id="userCreatePanel">
                <h:form id="createUserForm">
                    <ui:include src="/pages/admin/userCreateInclude.xhtml" />
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{userBean.persist}"
                            update=":userCreatePanel :userDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createUserDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createUserDialogWidget').hide()" type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

        <p:dialog dynamic="true" id="editUserDialog"
            header="#{messages.dialog_header_edit_user}" modal="true"
            widgetVar="editUserDialogWidget" maximizable="true"
            rendered="#{security.isPermitted('user:update')}">
            <p:ajax event="close" listener="#{userBean.reset}" />
            <p:outputPanel id="userEditPanel">
                <h:form id="editUserForm">
                    <ui:include src="/pages/admin/userEditInclude.xhtml" />
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{userBean.persist}"
                            update=":userEditPanel :userDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editUserDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close" onclick="PF('editUserDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

    <p:dialog dynamic="true" id="createInfosUserFromEditDialog"
        rendered="#{userBean.isPermitted('infosUser:create')}"
        header="#{messages.dialog_user_create_infosUser}" modal="true"
        widgetVar="createInfosUserFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{infosUserBean.reset}" />
        <p:outputPanel id="createInfosUserFromEditPanel">
                <h:form id="createInfosUserFromEditForm">
                    <ui:include src="/pages/infosUser/infosUserEditInclude.xhtml">
                        <ui:param name="hideUserSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{userBean.updateInfosUser(infosUserBean.infosUser)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{infosUserBean.persist}"
                            update=":editUserForm:infosUserSelectInput :createInfosUserFromEditPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createInfosUserFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createInfosUserFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
    </ui:define>

</ui:composition>
</html>