<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="infractionDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="infractionTable" value="#{infractionBean.lazyModel}" var="infraction" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                paginatorPosition="bottom" widgetVar="infractionTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_infraction}" icon="ui-icon-plusthick" action="#{infractionBean.prepareNewInfraction()}"
                      resetValues="true" update=":editInfractionDialog" oncomplete="PF('editInfractionDialogWidget').show()"
                      rendered="#{infractionBean.isPermitted('infraction:create')}" style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="infractionTable" trigger="toggler" />
          </f:facet>
          
          <p:column  headerText="#{messages.field_label_infraction_nom}" sortBy="#{infraction.nom}" filterBy="#{infraction.nom}">
            <f:facet name="filter">
                <p:inputText id="nomFilter"
                        onkeypress="if (event.keyCode == 13) {PF('infractionTable').filter(); updateNomFilter(); return false; }" >
                    <p:remoteCommand name="updateNomFilter" update="infractionTable:nomFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{infraction.nom}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_infraction_peine}" sortBy="#{infraction.peine}" filterBy="#{infraction.peine}">
            <f:facet name="filter">
                <p:inputText id="peineFilter"
                        onkeypress="if (event.keyCode == 13) {PF('infractionTable').filter(); updatePeineFilter(); return false; }" >
                    <p:remoteCommand name="updatePeineFilter" update="infractionTable:peineFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{infraction.peine}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewInfractionDialog" oncomplete="PF('viewInfractionDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{infraction}" target="#{infractionBean.infraction}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editInfractionDialog"
                resetValues="true" rendered="#{infractionBean.isPermitted(infraction, 'infraction:update')}"
                action="#{infractionBean.onDialogOpen(infraction)}"
                oncomplete="PF('editInfractionDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" rendered="#{infractionBean.isPermitted(infraction, 'infraction:delete')}"
                oncomplete="PF('deleteInfractionDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{infraction}"
                    target="#{infractionBean.infraction}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteInfractionDialog" widgetVar="deleteInfractionDialogWidget"
        rendered="#{infractionBean.isPermitted(infractionBean.infraction, 'infraction:delete')}" header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{infractionBean.delete}" update=":infractionDataForm :growlForm:growl" oncomplete="PF('deleteInfractionDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteInfractionDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editInfractionDialog" header="#{messages.label_infraction_caption}"
            modal="true" widgetVar="editInfractionDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{infractionBean.reset}"/>
        <h:form id="editInfractionForm" >
            <p:outputPanel id="infractionEditPanel">
                <ui:include src="/pages/infraction/infractionEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{infractionBean.persist}"
                            update=":editInfractionForm:infractionEditPanel :infractionDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editInfractionDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('editInfractionDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewInfractionDialog" header="#{messages.label_infraction_caption}" modal="true" widgetVar="viewInfractionDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{infractionBean.reset}" />
        <h:form id="viewInfractionForm">
          <ui:include src="/pages/infraction/infractionViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" onclick="PF('viewInfractionDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>