<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not infractionBean.isPermitted(infractionBean.infraction, 'infraction:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{infractionBean.isPermitted(infractionBean.infraction, 'infraction:read')}">
        
        <h:outputText value="#{messages.field_label_infraction_nom}:" />
        <h:outputText value="#{infractionBean.infraction.nom}" />

        <h:outputText value="#{messages.field_label_infraction_peine}:" />
        <h:outputText value="#{infractionBean.infraction.peine}" />

    </h:panelGrid>
</html>