<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>404</title>
    </h:head>

    <h:body styleClass="exception-body notfound">
        <div class="exception-text">
            <div class="notfound-box">
                <span>404</span>
            </div>
            <span class="notfound-text">Page introuvable</span>
        </div>
        <div class="exception-panel">
            <div class="exception-image">
                <p:graphicImage name="images/exception/icon-error.png" library="avalon-layout" />
            </div>
            <div class="exception-panel-content">
                <div class="information-text">
                    <span><strong>Ceci n'etait pas censé arriver...</strong></span>
                    
                </div>
                <h:form>
                    <p:button value="Retour"  outcome="/pages/casier/index.xhtml;jsessionid=#{sessionHelper.sessionId}" />
                </h:form>
            </div>
        </div>

        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="avalon-layout" />
    </h:body>

</html>