<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/avalon">


    <div class="layout-menu-container #{guestPreferences.menuClass}">
        <div class="nano">
            <div class="nano-content menu-scroll-content">
                <ui:fragment rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
                    <div class="profile">
                        <a id="profile-options" href="#">
                            <p:graphicImage  name="images/user.png" library="avalon-layout" styleClass="profile-image" style="border: 0 none"/>
                            <span class="profile-name">#{request.remoteUser}</span>
                            <i class="fa fa-fw fa-caret-down"></i>
                            <span class="profile-role">#{request.userPrincipal.name}</span>
                        </a>
                    </div>
                    <ul id="profile-menu" class="layout-menu">
                        <li role="menuitem">
                            <h:link outcome="/pages/user/index.xhtml">  
                                <i class="fa fa-fw fa-user"></i>
                                <span>Profil</span>
                            </h:link>
                            <div class="layout-menu-tooltip">
                                <div class="layout-menu-tooltip-arrow"></div>
                                <div class="layout-menu-tooltip-text">Profil</div>
                            </div>
                        </li>

                        <li role="menuitem">
                            <h:link rendered="#{p:ifGranted('Administrator')}" outcome="/pages/admin/index.xhtml">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Administration</span>
                            </h:link>
                            <div class="layout-menu-tooltip">
                                <div class="layout-menu-tooltip-arrow"></div>
                                <div class="layout-menu-tooltip-text">Administration</div>
                            </div>
                        </li>
                        <li role="menuitem">
                            <h:form>
                                <h:commandLink action="#{loginBean.logout}" >
                                    <i class="fa fa-sign-out"></i>
                                    <span>Logout</span>
                                </h:commandLink>
                            </h:form>
                            <div class="layout-menu-tooltip">
                                <div class="layout-menu-tooltip-arrow"></div>
                                <div class="layout-menu-tooltip-text">#{messages.toolbar_logout}</div>
                            </div>
                        </li>
                    </ul>
                </ui:fragment>

                <h:form>
                    <pu:menu widgetVar="me">
                        <!-- 
                                                <p:menuitem value="Citoyen" url="/pages/citoyen/index.xhtml" icon="fas fa-male" ajax="false" async="false" />
                        <p:menuitem value="Empreinte" url="/pages/empreinte/index.xhtml" icon="fas fa-fingerprint" ajax="false" async="false" />
                        <p:menuitem value="Image" url="/pages/imagee/index.xhtml" icon="fas fa-images" ajax="false" async="false" />

                        -->

                        <p:menuitem value="Casier Judiciaire" url="/pages/infraction/index.xhtml" icon="fa fa-briefcase" ajax="false" async="false" />
                       

                        <p:submenu label="#{messages.menu_admin}" rendered="#{p:ifGranted('Administrator')}" icon="fa fa-fw fa-cog">
                            <p:menuitem value="Gestion utilisateurs" url="/pages/admin/index.xhtml" icon="ui-icon-person" ajax="false" async="false"/>
                            <p:menuitem value="Gestion citoyens" url="/pages/citoyen/index.xhtml" icon="ui-icon-person" ajax="false" async="false"/>

                        </p:submenu>
                    </pu:menu>



                </h:form>


            </div>
        </div>
    </div>

</ui:composition>
